@font-face {
  font-family: "iranyekanwebmedium";
  src: url(../fonts/iranyekanwebmedium.woff) format("woff");
}
@font-face {
  font-family: "iranyekanwebregular";
  src: url(../fonts/iranyekanwebregular.woff) format("woff");
}
@font-face {
  font-family: "YekanBachBold";
  src: url(../fonts/YekanBakhBold.woff) format("woff");
}
@font-face {
  font-family: "YekanBachHeavy";
  src: url(../fonts/YekanBakhHeavy.woff) format("woff");
}
@font-face {
  font-family: "YekanBachMedium";
  src: url(../fonts/YekanBakhMedium.woff) format("woff");
}
